{{define "header"}}
    <link rel="stylesheet" href="/static/styles/services.css">
{{end}}

{{define "content"}}
    <section>
        <div class="left">
            <img src="" alt="Hier kommt noch ein Bild hin">
        </div>
        <div class="right">
            <img src="" alt="Hier kommt noch ein Bild hin">
            <h1>Abtragungen & Baumschnitte</h1>
            <p>Bla bla bla produktbeschreibung</p>
        </div>
    </section>

    <section>
        <div class="left">
            <img src="" alt="Hier kommt noch ein Bild hin">
        </div>
        <div class="right">
            <h1>Heckenschnitte</h1>
            <p>Bla bla bla produktbeschreibung</p>
        </div>
    </section>

    <section>
        <div class="left">
            <img src="" alt="Hier kommt noch ein Bild hin">
        </div>
        <div class="right">
            <h1>Gartenpflege</h1>
            <p>Bla bla bla produktbeschreibung</p>
        </div>
    </section>

    <section>
        <div class="left">
            <img src="" alt="Hier kommt noch ein Bild hin">
        </div>
        <div class="right">
            <h1>Wiesenschnitte</h1>
            <p>Bla bla bla produktbeschreibung</p>
        </div>
    </section>

    <section>
        <div class="left">
            <img src="" alt="Hier kommt noch ein Bild hin">
        </div>
        <div class="right">
            <h1>Und mehr ...</h1>
            <p>Bla bla bla produktbeschreibung</p>
        </div>
    </section>

    <section>
        <div class="left">
            <img src="" alt="Hier kommt noch ein Bild hin">
        </div>
        <div class="right">
            <h1>Besichtigung</h1>
            <p>unverbindlich</p>
        </div>
    </section>
{{end}}