.content {
    width: 100vw;
    
    .interest {
        display: flex;
        width: 100%;
        height: 60vh;
        overflow: hidden;

        video {
            width: 100%;  
            height: 60vh;
            object-fit: cover; 
        }
    }

    .break {
        width: 100%;
        content: "";
        height: 1px;
        background-color: var(--accent-color);
    }

    .desire {
        padding: 60px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;

        .data {
            align-items: center;
            color: var(--accent-color);
        }

        h1 {
            font-size: 32pt;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                button {
                    border: none;
                    background-color: var(--highlight-color);
                    border-radius: 6px;
        
                    width: 150px;
                    height: 50px;

                    color: var(--background-color);

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                    }
                }   
            }

            svg {
                width: 100px;
                height: 100px;
                fill: var(--highlight-color);
                path {
                    stroke-width: 10;
                }
            }
        }
    }

    .kontakt {
        height: 500px;
        display: flex;
    
        .left {
            flex: 2;
            height: 100%;
    
            display: flex;
            gap: 50px;
            
            padding: 60px;
    
            box-shadow: inset 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    
            clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    
    
            .contact-data {
                .kontakt-data-wrapper {
                    width: 100%;    
        
                    padding: 50px;
                }
            }
    
            .contact-form {
                max-width: 500px;
            
                form {
                    width:400px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
    
                    button {
                        align-self: flex-end;
    
                        border: none;
                        background-color: var(--highlight-color);
                        border-radius: 6px;
            
                        width: 150px;
                        height: 50px;
    
                        color: var(--background-color);
    
                        &:hover {
                            cursor: pointer;
                            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                        }
                    }       
                }
            }
    
        }
        
        .right {
            flex: 3.5;
            height: 100%;
            max-width: 50vw;
    
            clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
        
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}
