.kontakt-kontakt {
    padding-left: 150px;
}

.kontakt-wrapper {
    height: 640px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    gap: 150px;

    img {
        flex: 1;
        height: 640px;
        object-fit: cover;
    }

    .kontakt {
        height: 500px;
    
        display: flex;
        justify-content: flex-start; /* Align items horizontally to start from the left */
        align-items: flex-start; /* Align items vertically to start from the top */

    
        border: 1px solid var(--accent-color);
        border-radius: 16px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    
        .contact-data-wrapper {
            height: 500px;
            padding: 50px;
            border: 1px solid var(--accent-color);
            border-radius: 16px;
            background-color: var(--highlight-color);    
            box-sizing: border-box;

            .contact-data {    
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start; /* Align content to the top */
       
        
                height: 100%;

                h1 {
                    color: var(--background-color);
                    margin-bottom: 20px;
                }
                
                p {
                    color: #AAA;    
                    padding-left: 15px;
                    margin: 10px;
                }
            }
        }
    
        .contact-form {
            max-width: 500px;
            padding: 50px 70px 50px 70px;
    
            h3 {
                color: var(--main-color);
                margin: 0px;
            }
        
            form {
                width:400px;
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                button {
                    align-self: flex-end;
    
                    border: none;
                    background-color: var(--highlight-color);
                    border-radius: 6px;
        
                    width: 150px;
                    height: 50px;
    
                    color: var(--background-color);
    
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                    }
                }       
            }
        }
    }
    @media (max-width: 500px) {
        .kontakt {
            flex-direction: column;
        }
    }
}
