.content {

    div {
        width: 100%;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        box-sizing: border-box;
        h1 {
            font-size: 32pt;
            color: var(--highlight-color);
            text-align: end;
            padding: 30px;
        }
    }

       

    .service-wrapper {
        width: 100%;

        section {
            height: 300px;
            display: flex;

            border-top: 1px solid var(--accent-color);
    
            .right {
                flex: 2;
                height: 100%;
                
                padding: 60px;

                clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);

                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-size: 24pt;
                    margin: 8px;
                }

                p {
                    color: var(--accent-color);
                    margin: 0px;;
                }


            a {
                button {
                    border: none;
                    background-color: var(--highlight-color);
                    border-radius: 6px;
        
                    width: 150px;
                    height: 50px;

                    color: var(--background-color);

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                    }
                }   
            }
            }


            .left {
                flex: 3.5;
                max-width: 50vw;
        
                clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            
                img {
                    object-fit: cover;
                }
            }
        }
    }
}
