.content {

    div {
        width: 100%;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        box-sizing: border-box;
        h1 {
            font-size: 32pt;
            color: var(--highlight-color);
            padding: 30px;
            border-bottom: 1px solid var(--accent-color);
            width: 100%;
        }
    }

    .service-wrapper {
        width: 100%;

        padding: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px; 

        section {
            height: 300px;
            width: 90%;
            display: flex;

            border: 1px solid var(--accent-color);
            border-radius: 16px;
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

            transition: transform 0.3s ease, box-shadow 0.3s ease;
            &:hover {
                transform: scale(1.02) translateY(-2px); /* Slightly larger and moves up */
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
            }

            overflow: hidden;
    
            .right {
                width: 50%;
                height: 100%;
                
                padding: 60px;

                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-size: 24pt;
                    margin: 8px;
                }

                p {
                    color: var(--accent-color);
                    margin: 0px;;
                }


                a {
                    button {
                        border: none;
                        background-color: var(--highlight-color);
                        border-radius: 6px;
            
                        width: 150px;
                        height: 50px;

                        color: var(--background-color);

                        &:hover {
                            cursor: pointer;
                            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                        }
                    }   
                }
            }


            .left {
                width: 50%;
                max-width: 50vw;
        
                clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            
                img {
                    object-fit: cover;
                }
            }
        }
    }
}
